body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(180, 183, 6, 0.813);
    }
    h1{
        text-align: center;
    }
    #main-container{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    #main-event-add-container{
        display: flex;
        flex-direction: column;
        height: 460px;
        width: 400px;
        background-color: white;
        padding: 5px 20px 20px 20px;
        border-radius: 20px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    h3{
        color: #642e97;
    }
    input{
        height: 15px;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
        padding: 10px;
        border: 1px solid #E3E3E3;
    }
    #eventcategory{
        height: 40px;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
        cursor: pointer;
        border: 1px solid #E3E3E3;
    }
    #eventdescription{
        border: 1px solid #E3E3E3;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
    }
    button{
        background-image: linear-gradient(to right,rgb(233, 88, 255),#97aafe);
        height: 40px;
        border-radius: 5px;
        color: white;
        border: none;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
        cursor: pointer;
        margin-top: 10px;
        font-size: 15px;
        transition:all 0.7s;
    }
    button:hover{
        background-image: linear-gradient(to right,rgb(54, 54, 255),#6d88ff);
        transform: scale(1.03);
    }
    #side-container{
        background-color: white;
        width: 600px;
        height: 460px;
        border-radius: 20px;
        padding: 5px 0px 20px 30px;
    }
    #side-container>div>button{
        width: 290px;
    }
    #all-events-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 15px;
    }
    .delete{
        background:rgb(255, 204, 50);
        color:white;
        border:none;
        border-radius:50%;
        width:25px;
        height:25px;
        float:right;
        cursor:pointer;
        font-weight:bold;
    }
    .delete:hover{
        background: red;
    }
    #footer-container{
        background-color:white;
        padding: 1px 10px 20px 15px;
        width: 1070px;
        border-radius: 15px;
        margin: 20px 0px 0px 210px;
    }
    #dom-container{
        width: 1000px;
        border: 1px solid #E3E3E3;
        font-size: 14px;
        padding: 5px 5px 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15) ;
    }